/* Styling for the main container using CSS Grid */
.main {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 10px;
  align-items: start;

  /* Optional: Set a max-width for the main container to prevent it from becoming too wide */
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main>div[ngIf="error"] {
  grid-column: 1 / span 2;
  /* Error message spans both columns */
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 5px;
  max-width: 600px;
}

.main .posts {
  display: block;
  padding: 10px;
  ;
}

.post {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0;
  gap: 5px;
}

.post-image {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.post-content {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  gap: 10px;
  flex: 1;
}

.post-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.post-description {
  color: #333;
}

.post-date {
  color: #777;
  margin-top: 12px;
}

/* Styling for the pie chart container with fixed position */
.pie-chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f0f0f0; */
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: sticky;
  top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}
